In [1]:

#full code is required for linux or Mac suser
#====================For windows user============###
import os
import sys

spark_path = '/home/gaurav/Downloads/spark-2.4.3-bin-hadoop2.7'
os.environ['SPARK_HOME']= spark_path
os.environ['HADOOP_HOME']=spark_path
sys.path.append(spark_path+'/bin')
sys.path.append(spark_path+'/python')
sys.path.append(spark_path+'/python/pyspark')
sys.path.append(spark_path+'/python/lib')
sys.path.append(spark_path+'/python/lib/pyspark.zip')
sys.path.append(spark_path+'/python/lib/py4j-0.10.7-src.zip')

#===========================================================#

from pyspark import SparkContext
from pyspark import SparkConf



# Configure the necessary Spark environment
import os
import sys

pyspark_submit_args = os.environ.get("PYSPARK_SUBMIT_ARGS", "")
if not "pyspark-shell" in pyspark_submit_args: pyspark_submit_args += " pyspark-shell"
os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

spark_home = os.environ.get('SPARK_HOME', None)
sys.path.insert(0, spark_home + "/python")

# Add the py4j to the path.
# You may need to change the version number to match your install
sys.path.insert(0, os.path.join(spark_home, "python/lib/py4j-0.10.7-src.zip"))

# Initialize PySpark
exec(open(os.path.join(spark_home, "python/pyspark/shell.py")).read())

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.4.3
      /_/

Using Python version 3.7.3 (default, Mar 27 2019 22:11:17)
SparkSession available as 'spark'.

In [3]:
sc.stop()

In [4]:
sc=SparkContext(master='local[4]')

In [5]:
sc

In [11]:
spark = SparkSession.builder.appName('ML-bank-Transaction').getOrCreate()
df=spark.read.csv('/home/gaurav/Documents/Data Science/BankTransactions.csv',header = True, inferSchema = True)

In [12]:
df.take(5)

[Row(CustomerID=38284, TransactionDate='13-10-2014', Amount=59069, TransactionType='Credit'),
 Row(CustomerID=26083, TransactionDate='15-10-2014', Amount=78433, TransactionType='Credit'),
 Row(CustomerID=58398, TransactionDate='01-11-2014', Amount=46339, TransactionType='Credit'),
 Row(CustomerID=12969, TransactionDate='10-11-2014', Amount=21594, TransactionType='Debit'),
 Row(CustomerID=15730, TransactionDate='06-10-2014', Amount=92825, TransactionType='Debit')]

In [13]:
df.cache()

DataFrame[CustomerID: int, TransactionDate: string, Amount: int, TransactionType: string]

In [15]:
df.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- TransactionDate: string (nullable = true)
 |-- Amount: integer (nullable = true)
 |-- TransactionType: string (nullable = true)

In [17]:
numeric_features=[t[0] for t in df.dtypes if t[1]=='int']
df.describe(numeric_features).toPandas()

  summary          CustomerID             Amount
0   count              500000             500000
1    mean        34989.743642       55044.633194
2  stddev  14438.083464435613  25994.73604034813
3     min               10000              10000
4     max               60000             100000

In [22]:
numeric_features

['CustomerID', 'Amount']

In [23]:
df.show(5)

+----------+---------------+------+---------------+
|CustomerID|TransactionDate|Amount|TransactionType|
+----------+---------------+------+---------------+
|     38284|     13-10-2014| 59069|         Credit|
|     26083|     15-10-2014| 78433|         Credit|
|     58398|     01-11-2014| 46339|         Credit|
|     12969|     10-11-2014| 21594|          Debit|
|     15730|     06-10-2014| 92825|          Debit|
+----------+---------------+------+---------------+
only showing top 5 rows